html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: "Koulen", serif;
}

.wrapper {
  max-width: 50rem;
  margin: auto;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin: 1rem;
  font-weight: 400;
}
